{
  "presets": ["flow", "env", "react", "stage-0"],
  "plugins": [
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [["flow-react-proptypes", { "useStatic": true }]]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
