{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:jest/recommended",
    "jest-enzyme"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "compat",
    "jest",
    "cypress"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      singleQuote: true,
      semi: false
    }],
    "compat/compat": "warn",
    "no-underscore-dangle": ["error", {
      "allow": [
        "__RECORDED_NOWS__",
        "__RECORDED_RANDOMS__",
        "__IS_RECORDING__",
        "__IS_REPLAYING__",
        "__STORE__",
        "__REPLAY__",
        "__META__",
        "__IS_HEADLESS_BROWSER__"
      ]
    }],
    "react/jsx-filename-extension": ["error", {
      "extensions": [".test.js", ".jsx"]
    }],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.js"
      }
    }
  }
}
