@import 'styles/variables';

.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  background-color: var(--bodyColor);
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.recorder-button,
.replayer-button {
  position: fixed;
  margin-left: 565px;
  width: 150px;
  z-index: 2;
}

.recorder-button:hover,
.replayer-button:hover {
  background-color: var(--buttonColor);
}

.recorder-button {
  margin-top: 10px;
}

.replayer-button {
  margin-top: 50px;
}
