html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
